# macOS
.DS_Store
*.swp
*~

# Xcode user data
*.xcuserstate
xcuserdata/

# Xcode build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Dependencies
Pods/
Carthage/Build/
.build/

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.hmap
*.xccheckout
*.xcscmblueprint

# Temporary files
*.orig
